body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.logo {
  font-family: var(--font-serif);
  font-size: 1.2
  rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}


.content-area {
  flex: 1;
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


.footer {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #888;
  background: #f9f9f9;
}