:root {
  --bg-color: #fcfcfc;
  --text-main: #1a1a1a;
  --text-soft: #666;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lora', serif;
  --header-height: 45px;
  --footer-height: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, .magazine-title {
  font-family: var(--font-serif);
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.2;
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}